* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

body {
    background: url("/assets/images/intern_bg.webp") no-repeat center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    height: 570px;
}

.input-check{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    label {
        padding-left: 10px;
        color: #fff;
        font-size: 1em;
    }

    input {
        width: 20px;
        height: 20px;
    }
}

#home {
    position: absolute;
    top: 30px;
    left: 40px;
    color: #fff;
    font-size: 1.9em;
    cursor: pointer;

    #home-full {
        display: none;
    }
}

#home:hover {
    #home-full {
        display: block;
    }

    #home-outline {
        display: none;
    }
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;

    label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1em;
        pointer-events: none;
        transition: .3s;
    }

    input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        color: #fff;
    }

    input:focus~label,
    input:not(:placeholder-shown)~label {
        top: 0px;
        font-size: .9em;
    }

    ion-icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;

    p a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }

    p a:hover {
        text-decoration: underline;
    }
}

.error{
    color: red;
    font-size: 1em;
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: 600;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

}