@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.wrapper {
  font-family: 'Staatliches', cursive;
  position: relative;
  
  width: 90%;
  height: 150px;
  
  background: hsl(0,0%,95%);
  box-shadow: 1px 1px 10px 3px rgba(0,0,0,.3);
  border: 0;
  border-radius: 33px 0px 0px 33px;
}

/*************/
.header{
  position: absolute;
  width: max-content;
  font-size: 0.95833rem;

  white-space: nowrap;
  
  top: 25%;
  left: 7%;
}

.header::after {
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  
  background: black;
}


/*************/
.content {
  position: absolute;
  font-size: 0.50833rem;
  width: 40%;
  
  top: 45%;
  left: 7%;
}
.image {
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1580707578919-892eb22db615?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1hbiUyMHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  
  background-repeat: no-repeat;
  background-size: cover;
}