@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.wrapper {
  font-family: 'Staatliches', cursive;
  position: relative;
  
  width: 90%;
  height: 170px;
  
  background: hsl(0,0%,95%);
  box-shadow: 1px 1px 10px 3px rgba(0,0,0,.3);
  border: 0;
  border-radius: 25px 0px 0px 25px;
}

/*************/
.header{
  position: absolute;
  width: max-content;
  font-size: 1rem;

  white-space: nowrap;
  
  top: 15%;
  left: 7%;
}

.header::after {
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  
  background: black;
}


/*************/
.content {
  position: absolute;
  font-size: 0.8rem;
  width: 40%;
  
  top: 35%;
  left: 7%;
}
.image {
  position: absolute;
  top: 0;
  right: 0;

  width: auto;
  height: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;

  transform: scaleX(-1);
}