@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


$buttonBackgroundColor : rgb(88, 61, 23);
$buttonTextColor: rgb(255, 255, 255);
$buttonHoverBorder: rgb(145, 111, 52);
$buttonSpanHoverBorder: rgb(140, 95, 58);

#company_name {
  margin-left: 10px;
  text-transform: uppercase;
}

#login_button,
#register_button {
  color: $buttonTextColor;
  border: 0;
  box-shadow: inset 0 0 0 1px $buttonBackgroundColor;
  background-color: $buttonBackgroundColor;
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  margin-right: 2vw;
  font-size: 1em;
  font-weight: 600;

  span {
    transition: all .2s ease-out;
    z-index: 2;
  }
}

#register_button {
  margin-right: 0.5vw;
}

#login_button:hover,
#register_button:hover {
  background-color: $buttonTextColor;
  box-shadow: inset 0 0 0 4px #eee;

  span {
    color: $buttonSpanHoverBorder;
  }
}

#second_header ul,
#second_header {
  background-color: rgb(77, 77, 77);
  display: flex;
  flex-direction: row !important;
  align-content: center !important;
  a {
    color: whitesmoke;
  }
  
  li{
    margin: 10px 10px 10px 25px;
    font-weight: 600;
  }
}

#account_avatar {
  display: none;
  margin-right: 20px;
  filter: invert(1);
}

@media screen and (max-width: 620px) {
  #account_avatar {
    display: block;
  }

  #login_button,
  #register_button {
    display: none;
  }

  #second_header {
    flex-direction: column !important;
  }
}

#native-header {
  z-index: 5;
  position: sticky;
  top: 0px;
}