footer{
    position:sticky;
}

#media_icon_facebook{ color: rgb(0, 68, 255) }
#media_icon_twitter{ color: lightblue }
#media_icon_instagram{ color:goldenrod }
#media_icon_linkedin{ color:aqua }
#media_icon_github{ color: red }

.links p{
    color:rgb(137, 183, 243);
}

.links h6{
    color: whitesmoke;
}

.fab{
    font-size: 1.5em;
}

.fab:hover{
    color: whitesmoke;
    font-size: 1.7em;
}

.footer_text{
    color: whitesmoke;
    text-align: justify;
}

.row{
    justify-content: center;
}

.carousel{
    margin: 10px 10px;
    position:sticky;
}
